header{
    flex-direction: row;
    margin-top: 5px;
}

header img {
    width: 5%;
    padding: 30px 50px;
    
}

header .header-links {
    width: 60%;
    margin-left: 25%;
    display: flex;
    justify-content: space-evenly;
    padding: 0px 50px;

}

header .header-links a {
    cursor: pointer;
    color: #000;
    text-decoration: none;
    border-top: 2px solid transparent;
    padding-top: 10px;
}

header .header-links a:hover {
    border-top: 2px solid blue;
    color:blue;
}

.section-search {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    align-self: stretch;
}

.section-search h1, p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.search-bar {
    display: flex;
    width: 301px;
    height: 49px;
    align-items: center;

}

.search-bar input {
    border: 1px solid var(--Grey, #F2F2F2);
    background: var(--White, #FFF);
}

.search-bar button {
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--Blue, #0065FC);
    background: var(--Blue, #0065FC);
    color: white;
    height: 50px;


}

.filters form {
    display: flex;
    height: 50px;
    padding: 4px 19px;
    align-items: center;
    gap: 10px;
}

.filters form input {
    border-radius: 25px;
    border: 2px solid var(--Grey-Tint2, #D9D9D9);
    height: 30px;
    text-align: center;
}

.last-p {
    display: flex;
    height: 24px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}



/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid, .fa-regular {
    color: var(--main-color);
}

body{
    margin: 0;
    padding: 0;
}

.site-wrapper {
    width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    width: 100%;
    display: flex;
    margin: 20px 0;
}

.content-indent{
    padding-left: 40px;
}

main {
    justify-content: space-evenly;
}

main section {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 10px;
}

main section:first-of-type {
    width: 60%;
}

main section:last-of-type {
    width: 30%;
}

main .accommodation-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

main section:first-of-type .card {
    width: 175px;
    margin: 10px 0;
}

main section:first-of-type .card-content {
    display: flex;
    flex-direction: column;
}

main section:last-of-type .card {
    width: 95%;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;

}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
    display: inline-block;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Accommodation And Popular ***********/
.accommodation-and-popular {
    display: flex;
    justify-content: space-between;
}

.accommodation-and-popular section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;

}

.accommodation-and-popular .accommodation .card {
    width: 100%;
}

.accommodation-and-popular .accommodation .card img {

    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}



/****** Accommodation *************************/

.accommodation-and-popular .accommodation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.accommodation-and-popular .accommodation .card {
    flex: 0 0 calc(50% - 20px);
    /* Each card takes up one-half of the container minus the gap */
    margin-bottom: 20px;
    /* Add bottom margin for spacing */
}

.accommodation .card img {
    height: 124px;
    width: 100%;
    /* Adjust the width to fit the container */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

@media (min-width: 768px) {
    .accommodation-and-popular .accommodation .card {
        flex: 0 0 calc(33.333333% - 20px);
        /* Each card takes up one-third of the container minus the gap */
    }
}



/****** Popular ***************************************/
.popular {
    width: 32%;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.popular-cards .card {
    display: flex;
    margin-top: 33px;
}

.popular-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle {
    margin: 0;
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}


.things-to-do {
    flex-direction: column;
}

/* things-to-do */
.things-to-do h1 {
    margin-left: 40px;
}

.things {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 95%;
    margin: 0 auto;
}

.things .card{
    width: 22%;
}

.things .card img{
    width: 99%;
}


/* footer */
footer {
    background: var(--Grey, #F2F2F2);
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    margin-bottom: 0px;
}

footer p{
    margin: 2px 0;
}

.how-it-works {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    flex: 1 0 0;
    align-self: stretch;
}

.our-accomodation {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    flex: 1 0 0;
    align-self: stretch;
}

.support {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    flex: 1 0 0;
    align-self: stretch;
}

